h1{
    text-align: center;
}
#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

img {
    width: 200px;
    height: 200px;
}


@media screen and (max-width:599px) {
    #container{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:600px) and (max-width:767px) {
    #container{
        grid-template-columns: repeat(2, 1fr);    
    }
    
}

@media screen and (min-width:768px) and (max-width:1023px) {
    #container{
        grid-template-columns: repeat(3, 1fr);    
    }

}

@media screen and (min-width:1024px) {
    #container{
        grid-template-columns: repeat(4, 1fr);    
    }
    
}